<h1>Editing pokemon sale</h1>

<%= render "form", pokemon_sale: @pokemon_sale %>

<br>

<div>
  <%= link_to "Show this pokemon sale", @pokemon_sale %> |
  <%= link_to "Back to pokemon sales", pokemon_sales_path %>
</div>
