<%= render partial: "shared/header"%>

<h1 class="text-center">Vendas</h1>

<div id="pokemon_sales"class="container p-1">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Base de experiência</th>
        <th>Valor</th>
      </tr>
    </thead>

    <tbody>
      <% @pokemon_sales.each do |pokemon_sale| %>
        <%= render pokemon_sale %>
      <% end %>
    </tbody>
  </table>
<%= link_to "Nova venda", new_pokemon_sale_path %>
</div>

