<%= render partial: "shared/header"%>

<div class="container">
  <h1 class="text-center mt-16">New pokemon sale</h1>

  <%= render "form", pokemon_sale: @pokemon_sale %>

  <br>

  <div>
    <%= link_to "Back to pokemon sales", pokemon_sales_path %>
  </div>
</div>
