<div class="container">
  <main>
    <h1>PokeCoin</h1>

    <h3>SignUp</h3>
    <div>
      <%= render "form", user: @user %>
    </div>

    <div>
      <%= link_to "Voltar", root_path %>
    </div>
  </main>
</div>