<div class="container">
  <main>
    <h1>PokeCoin</h1>

    <h3>A melhor calculadora de trades de pokémon do mercado!</h3>
    <div>
      <%= link_to 'Login', login_path%>
      <%= link_to 'SignIn', sign_up_path%>
    </div>
  </main>
</div>
