<nav class="navbar navbar-light bg-light">
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex flex-row justify-content-around">
      <li class="nav-item">
        <%= link_to 'Pokemons', pokemons_path%>
      </li>
      <li class="nav-item">
        <%= link_to 'Aquisições de pokemons', pokemon_acquisitions_path%>
      </li>
      <li class="nav-item">
        <%= link_to 'Vendas de pokemons', pokemon_sales_path%>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", logout_path, data: { "turbo-method": :delete } %>
      </li>
    </ul>
  </div>
</nav>