<div id="<%= dom_id pokemon_acquisition %>">

  <% pokemon = pokemon_acquisition.pokemon %>
    <tr>
      <td> <%= pokemon.name %> </td>
      <td> <%= pokemon.base_experience %></td>
      <td> <%= pokemon_acquisition.created_at.strftime("%d-%m-%Y") %></td>
    </tr>

</div>