<%= render partial: "shared/header"%>

<div class="container">
  <h1 class="text-center">Aquisições de Pokémons</h1>

  <div id="pokemon_acquisitions" class="container p-1">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Base de experiência</th>
          <th>Data de aquisição</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @pokemon_acquisitions.each do |pokemon_acquisition| %>
          <%= render pokemon_acquisition %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Adicionar nova aquisição", new_pokemon_acquisition_path %>
  </div>
</div>

