<%= render partial: "shared/header"%>

<h1 class="text-center">New pokemon acquistion</h1>

<%= render "form", pokemon_purchase: @pokemon_acquisition %>

<br>

<div>
  <%= link_to "Back to pokemon acquisitions", pokemon_acquisitions_path %>
</div>
