<%= render partial: "shared/header"%>

<div class="container">
  <h1 class="text-center mt-16">Nova aquisição de Pokémon</h1>
    <%= render "form", pokemon_purchase: @pokemon_acquisition %>
  <div>
    <%= link_to "Voltar para todas as aquisições", pokemon_acquisitions_path %>
  </div>
</div>
