<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Base experience:</strong>
    <%= pokemon.base_experience %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= pokemon.sold %>
  </p>

</div>
