<%= render partial: "shared/header"%>

<div class="container">
  <h1 class="text-center">Pokemons</h1>

  <div  id="pokemons" class="container p-1">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Base de experiência</th>
          <th>Vendido</th>
        </tr>
      </thead>

      <tbody>
        <% @pokemons.each do |pokemon| %>
          <%= render pokemon %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Adicionar novo pokémon", new_pokemon_acquisition_path %>
  </div>
</div>
