<h1>Editing pokemon purchase</h1>

<%= render "form", pokemon_purchase: @pokemon_purchase %>

<br>

<div>
  <%= link_to "Show this pokemon purchase", @pokemon_purchase %> |
  <%= link_to "Back to pokemon purchases", pokemon_purchases_path %>
</div>
